<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<jaxws:endpoint id="consumer"
		implementor="org.petalslink.wsn.webservices.service.jaxws.NotificationConsumerService"
		address="/NotificationConsumerService" />

	<jaxws:endpoint id="producer"
		implementor="org.petalslink.wsn.webservices.service.jaxws.NotificationProducerService"
		address="/NotificationProducerService" />

	<jaxws:endpoint id="domconsumer"
		implementor="org.petalslink.wsn.webservices.service.dom.NotificationConsumerService"
		address="/dom/NotificationConsumerService" />

	<jaxws:endpoint id="domproducer"
		implementor="org.petalslink.wsn.webservices.service.dom.NotificationProducerService"
		address="/dom/NotificationProducerService" />
</beans>